a, a:hover {
    text-decoration: none;
}
a:hover {
    color: #5e3fcb;
}

.bg-slide-body {
    background-color: #754ffe!important;
}
.img-teacher-avatar {
    width: 35px; 
    height:35px;
}
.margin-slide {
    margin-top: 61px;
}
.ps-icon-search {
    padding-left: 1rem!important;
}
.ps-input-search {
    padding-left: 2.5rem!important;
}
.card-height {
    min-height: 380px;
    max-width: 300px;
}
@media only screen and (max-width: 768px) {
    .btn-w100-md {
      width: 100%;
    }
  }
@media only screen and (max-width: 576px) {
    .btn-w100-sm {
      width: 100%;
    }
  }